*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #E6E9EE;
    display: flex;
    justify-content: center;
    height: 5rem;

}
.container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Case img{
    width: 100%;
}
.New_Arrival{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.New_Arrival h1{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    padding: 0.8rem;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: black;
}